/* Contacto.css */

.contacto-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    margin-bottom: 20px;
    color: #666;
  }
  
  .whatsapp-button {
    display: inline-flex;
    align-items: center;
    background-color: #25d366; /* Verde de WhatsApp */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e; /* Cambio de color al pasar el ratón */
  }
  
  .whatsapp-icon {
    margin-right: 10px;
  }
  